.root{

    -fx-font-family: "Times New Roman";
    -fx-text-fill: lightgrey;
    -fx-base: rgb(10, 10, 10);
    -fx-background: rgb(140, 140, 140);
    -fx-background-size: cover;
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.button {
	-fx-text-fill: black;
	-fx-background-color: #fdd734;
	-fx-font-size: 45px;
	-fx-border-radius: 0px;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: #dab000;
}

.button:pressed {
	-fx-background-color: #8c7100;
}

.buttons-view
{
	-fx-padding: 10px;
}

.game-view
{
	-fx-background-image: url("../../resources/misc/bg_wood.jpg");
}

.home-view
{
	-fx-background-image: url("../../resources/misc/splendor.jpg");
}

.prestige
{
	-fx-text-fill: gold;
	-fx-font-size: 36px;
	-fx-font-weight: 900;
	-fx-padding: 0 10px 0 0;
}

.player .separator{
    -fx-background-color: #70828C;
	-fx-background-radius: 2;
	
	-fx-padding: 0 2px;
    -fx-background-insets: 0 0px;
}

.player .separator *.line { 
	-fx-border-style: solid;
	-fx-border-width: 0px;
}

.player .prestige
{
	-fx-font-size: 120px;
}

.cards-prestige-bonus
{
	 -fx-background-color: rgba(200, 200, 200, 0.5);
	 -fx-padding: 0 5px;
}

.opponents
{
    -fx-background-color: rgb(113, 135, 146);
}

.token-count {
	-fx-font-weight: 900;
	-fx-text-fill: lightgrey;
}

.opponent-name
{
	-fx-text-fill: lightgrey;
	-fx-font-size: 25px;
	-fx-font-weight: 800;
	-fx-padding: 0 0 0 5px;
}

.buttons-view {
	-fx-background-color: rgb(43, 57, 63);
}

.opponent {
    -fx-border-color: black;
}

.opponent-header {
	-fx-border-width: 3px 0 0 0;
	-fx-background-color: rgb(43, 57, 63);
}

.player {
	-fx-background-color: rgb(54, 71, 79);
}

.opponent VBox {
	-fx-border-color: black;
}

.opponent HBox {
	-fx-border-color: black;
	-fx-border-width: 0;
}

.move-button {
	-fx-font-size: 20px;
}
.move-button.disabled {
	-fx-background-color: gray;
	-fx-text-fill:rgb(192,192,192);
	-fx-cursor: default;
}

.home-button {
	-fx-font-size: 45px;
}

.manual-button {
	-fx-background-radius: 0px 0px 0px 15px;
	-fx-font-size: 30px;
}

.manual-button-game {
	-fx-background-radius: 50px;
	-fx-font-size: 25px;
}

.manual-navigation-button {
	-fx-font-size: 25px;
}

.page-1 { -fx-background-image: url("../../resources/manual/page-1.png"); }
.page-2 { -fx-background-image: url("../../resources/manual/page-2.png"); }
.page-3 { -fx-background-image: url("../../resources/manual/page-3.png"); }
.page-4 { -fx-background-image: url("../../resources/manual/page-4.png"); }

.lobby-grid .label {
	-fx-text-fill: gray;
	-fx-background-color: white;
	-fx-padding: 7px 12px;
	-fx-font-size: 25px;
	-fx-background-radius: 10px;
	-fx-font-weight: bold;
}

.lobby-grid .label.active {
	-fx-background-color: #fff584;
	-fx-text-fill: black;
	-fx-background-size: 25px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: 97% center;
}

.lobby-grid .label.checked 	 { -fx-background-image: url("../../resources/misc/checked.png"); }
.lobby-grid .label.unchecked { -fx-background-image: url("../../resources/misc/unchecked.png"); }

.join-panel .join-text {
	-fx-font-size: 45px;
	-fx-background-color: #fff584;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .dot {
    -fx-padding: 5px;
}
.alert-dialog {
	-fx-background-radius: 20px;
	-fx-font-size: 25px;
	-fx-effect: null;
}
.alert-dialog .button {
	-fx-font-size: 30px;
}

.popup-view {
	-fx-background-image: url("../../resources/misc/splendor.jpg");
	-fx-background-size: cover;
}

.ReturnTokensView .button {
	-fx-font-size: 4px;

}